*{
    margin: 0;
    padding: 0;
    /* position: relative; */
}
.bg-image {
background-Image: url('../../../public/assets/train_1.jpg');
 background-size: cover;
  background-Repeat: 'no-repeat';
  background-position: center top;
  width: 100% ;
  min-height: 100vh;
  
}