.hero {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}

.hero:before {
    content: '';
    background: url('../../../public/assets/train_1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}

.hero .form-header{
    font-size: 40px;
    padding-top: 10px;
    font-weight: bolder;
    text-align: center;
}

.hero .content .form-content{
    background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);

}

.hero .content .form-content .form{
    padding: 10px;
}

.hero .content .form-content .form .input-cell{
    display: flex;
}
.hero .content .form-content .form .before-field{
     padding: 2px 10px 2px 10px;
}
 .input-field{
   width: 400px;
}

.submit-button{
    background-color: #72bf44;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}

.error-message{
    color: red;
    padding-bottom: 2px;
    font-weight: bold;
}